.logout-container {
    position: absolute;
    top: 20px;
    right: 30px;
  }
  
  .logout-btn {
    background-color: #ffd700;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .logout-btn:hover {
    background-color: #f0e68c; /* Lighter gold */
    transform: scale(1.1);
  }
  