.lecture-row {
    display: flex;
    background-color: #6f42c1;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .lecture-row .col {
    flex: 1;
    text-align: left;
    /* text-align: center; */
  }

  .row{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;;
  }
  